.annoumcments-area {
    margin-top: 0.25em;
    background-color: #F2F9F5;
    display: flex;
    padding: 0 0.3em 0.3em;
    flex-direction: column;
    justify-content: space-around;

    font-family: 'Comfortaa', sans-serif;
}

.annoumcments-area .show-more-btn {
    margin-top: 0.5em;
    padding: 0.5em 0.5em;
    align-self: flex-start;
    
    border: 0px;
    border-radius: 5px;
    font-family: 'Comfortaa', sans-serif;
    background-color: rgba(147, 209, 191, 0.19);
}

.annoumcments-area .annoumcment-row {
    display: none;
    margin-top: 0.5em;
    justify-content: space-between;
}

.annoumcments-area .annoumcment-row:nth-of-type(1) {
    display: flex;
}

.annoumcment-row .annoumcment-block {
    width: 150px;
    height: 250px;
    display: flex;
    
    overflow: hidden;
    border-radius: 5px;
    flex-direction: column;
    background-color: rgba(199, 225, 206, 0.75);
}

.annoumcment-block .image-part {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.annoumcment-block img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
}

.image-part .heart {
    max-width: 25px;
    max-height: 25px;
    position: absolute;
    margin-top: 0.7em;
}

.image-part .person-info {
    position: absolute;
    margin-top: 0.7em;
    display: flex;
    align-self: flex-end;
    background-color: rgba(196, 196, 196, 0.5);
    border-radius: 5px;
}

.person-info p {
    font-size: 14px;
    margin: 0.4em 0.2em 0.35em 0.4em;
    padding: 0 0 0;
}

.person-info img {
    max-width: 20px;
    max-height: 20px;
    margin-left: 0.1em;
    margin-right: 0.2em;
    margin-top: 0.1em;
}

.annoumcment-block .info-part {
    margin-top: 0.2em;
}

@media screen and (max-width: 450px) {
    .annoumcment-row .annoumcment-block {
        width: 185px;
        height: 285px;
    }
}

@media screen and (max-width: 400px) {
    .annoumcment-row .annoumcment-block {
        width: 170px;
        height: 270px;
    }
}

@media screen and (max-width: 360px) {
    .annoumcment-row .annoumcment-block {
        width: 160px;
        height: 260px;
    }
}

@media screen and (max-width: 330px) {
    .annoumcment-row .annoumcment-block {
        width: 150px;
        height: 250px;
    }
}