.menu-page-wrapper {
    width: 100%;
    height: 100%;
    background: white;
}

.menu-page {
    width: 100%;
    height: 100%;
    background:rgba(147, 209, 191, 0.6);
}

.menu-page .links-area {
    float: right;
    padding: 30% 10% 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.menu-page .links-area .link {
    font-family: 'Comfortaa', sans-serif;
    font-size: 2em;
    padding: 0.5em 0 0;    
    margin-bottom: 10%;
    color: #453E3E;
    text-decoration-line: underline; 
    text-underline-offset: 0.21em;
}

.menu-page .links-area .link>*:first-child {
    padding: 1em 0 0;        
}
